@use 'colors/color-matrix' as color;

:host {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: color.$icon-button-bg--primary; // заменили fill на color
  transition: all 0.3s;

  &__icon {
    width: 24px;
    height: 24px;
    fill: currentColor; // SVG наследует цвет кнопки
  }

  &:hover,
  &:focus-visible {
    color: color.$icon-button-bg--primary-hover;
  }

  &:focus-visible {
    outline: 1px solid color.$icon-button-outline;
    border-radius: 2px;
  }

  &:active {
    color: color.$icon-button-bg--primary-active;
  }

  &:disabled {
    color: color.$icon-button-bg--disabled;
    cursor: not-allowed;
  }

  &__icon--trash {
    color: color.$icon-danger;
    transition: all 0.3s;

    &:hover,
    &:focus-visible {
      color: color.$icon-danger-hover;
    }

    &:active {
      color: color.$icon-danger-active;
    }

    &:disabled {
      color: color.$icon-button-bg--disabled;
    }
  }
}