@use 'abstracts/mixins' as *;
@use 'colors/color-matrix' as *;

:host {
  @include li-item;
}

.li-content {
  flex: 1 1 auto;
  min-width: 0;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.li-end {
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  gap: 4px;

  .pill {
    font-size: 14px;
    margin: 0 3px;

    &:has(+ app-icon-button) {
      margin: 0 21px;
    }
  }

  app-icon-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    svg {
      fill: currentColor;
      transition: fill 0.2s ease;
    }

    &:not(:first-child)::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -6px;
      transform: translateY(-50%);
      width: 1px;
      height: 24px;
      background-color: $pl-li-divider-color;
      opacity: 0.3;
      z-index: 0; 
    }
  }
}